In [1]:
import requests
import time
import numpy as np
import pandas as pd

In [2]:
# EUW_data = pd.read_csv('EUW_games.csv',index_col=False)
# KR_data = pd.read_csv('KR_games.csv',index_col=False)
# NA_data = pd.read_csv('NA_games.csv',index_col=False)
other_EUW_data = pd.read_csv('games_df_EUW.csv',index_col=False)
other_NA_data = pd.read_csv('games_df_NA.csv',index_col=False)
other_KR_data = pd.read_csv('games_df_KR.csv',index_col=False)
# old_data = pd.read_csv("Plat_games.csv", index_col=False)

In [3]:
# EUW_data.reset_index(drop=True, inplace=True)
# NA_data.reset_index(drop=True, inplace=True)
# KR_data.reset_index(drop=True, inplace=True)
other_EUW_data.reset_index(drop=True, inplace=True)
other_NA_data.reset_index(drop=True, inplace=True)
other_KR_data.reset_index(drop=True, inplace=True)
# old_data.reset_index(drop=True, inplace=True)

In [4]:

all_data = pd.DataFrame()

In [5]:
all_data = pd.concat([ other_EUW_data,other_KR_data, other_NA_data])

In [6]:
len(all_data.drop_duplicates())

12231

In [7]:
len(all_data)

12231

In [8]:
all_data.to_csv('Master_games.csv',index=False)

In [10]:
old_data = pd.read_csv('C:\\LOL Data\\all_data.csv', index_col=False)
other_data = pd.read_csv('C:\\LOL Data\\other_diamond.csv', index_col= False)

In [11]:
old_data.reset_index(drop=True, inplace=True)
other_data.reset_index(drop=True, inplace=True)

In [12]:
all_data = pd.concat([old_data, other_data])

In [13]:
len(all_data)

84146

In [14]:
len(all_data.drop_duplicates())

81635

In [15]:
all_data.to_csv('C:\\LOL Data\\Diamond_games.csv',index=False)

In [7]:
df1 = pd.read_csv('C:\\LOL Data\\all_data.csv', index_col=False)
df1

,BLUE TOP,BLUE JUNGLE,BLUE MID,BLUE ADC,BLUE SUPPORT,RED TOP,RED JUNGLE,RED MID,RED ADC,RED SUPPORT,...,RED MIDDLE KDA,RED BOTTOM KDA,RED UTILITY KDA,RED FIRST BLOOD,BLUE FIRST BLOOD,RED FIRST TOWER,BLUE FIRST TOWER,TIME STAMP,BLUE WIN,MATCH ID
0,Gnar,Graves,Vex,Corki,Senna,Aurora,Kindred,Orianna,Draven,TahmKench,...,0.00,0.50,0.33,False,True,False,True,918923,True,EUW1_7188634751
1,Sion,LeeSin,Ahri,Kaisa,Janna,KSante,Khazix,Syndra,Corki,Blitzcrank,...,1.00,11.00,5.50,True,False,True,False,1120370,False,EUW1_7187860850
2,Jax,Belveth,Akshan,Jhin,Janna,Aatrox,Graves,Katarina,Jinx,Lulu,...,0.50,0.67,3.00,False,True,False,True,953825,True,EUW1_7187789342
3,Mordekaiser,Graves,Ahri,MissFortune,Nautilus,Darius,Elise,Zed,Caitlyn,Lux,...,1.67,6.00,4.00,True,False,True,True,1957211,False,EUW1_7187702302
4,Yone,Graves,Diana,Kaisa,Lulu,Vayne,Ambessa,Sylas,Hwei,Zilean,...,2.86,1.50,2.20,False,True,True,True,2035787,True,EUW1_7187623633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79807,Renekton,Taliyah,Jayce,Swain,Seraphine,Gangplank,LeeSin,Yone,Jhin,Leblanc,...,1.00,1.20,2.57,True,False,True,True,1873478,True,KR_7364278794
79808,Kayle,XinZhao,Akali,Jhin,Garen,Zilean,LeeSin,Neeko,Lucian,Soraka,...,5.00,2.78,6.20,False,True,True,True,2360066,False,KR_7363219585
79809,Kayle,Skarner,Leblanc,Kaisa,Thresh,Ambessa,Rammus,Azir,Varus,Lux,...,6.50,2.33,2.60,False,True,True,False,1551729,False,KR_7363150700
79810,Sylas,Nocturne,Akali,Jhin,Leona,Jax,LeeSin,Leblanc,Ezreal,Seraphine,...,3.75,6.00,3.33,False,True,True,False,1922164,False,KR_7363063958
79811,Swain,Shyvana,Zac,Caitlyn,Leona,Chogath,Skarner,Yasuo,Ashe,Alistar,...,3.83,3.25,3.25,False,True,True,True,1540146,False,KR_7363000800

In [9]:
new_matches_id = all_data['MATCH ID'].to_list()

In [10]:
len(new_matches_id)

12231

In [11]:
file_path = "master_matches_id.txt"

# Open the file in write mode and save the list
with open(file_path, "w") as file:
    for number in new_matches_id:
        file.write(f"{number}\n")